@use '../defaults' as d;

.Feed {
  margin-top: 8vh;

  @include d.displayFlex(column);
  align-items: center;
}

@include d.desktop {
  .Feed {
    &--navActive {
      margin-right: 25%;
    }
  }
}